*{
    padding: 0px;
    margin: 0px;
    text-transform: capitalize;
    color:rgb(0, 0, 0);
}
.backde{
    background-image:url(desertp/desertback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body{
    background-color: #fff2def5;
}
.header{
    margin: 20px;
    display: inline-block;
    font-size: 25px;
    width: fit-content;
    color: white;
    font-family: "Pacifico", cursive;
}
#list{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50px;
    right: 114px;
    transition: .5s;
}
#list:hover{
    scale: 1.1;
}
#i{
    font-size: 30px;
    margin-right: 15px;
    color: white;
}
.nav{
    display: flex;
    flex-direction: row-reverse;   
}
.nav ul{
    list-style: none;
    z-index: 3;
}
.nav ul li{
    color: inherit;
    margin: 15px;
    border: 1px #878787 solid;
    padding: 7px;
    border-radius: 10px;
    transition: .5s;
    text-align: center;
    right: 5%;
    width: 100px;
    backdrop-filter: blur(20px);
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: italic;
}
.nav ul li:hover {
    scale: 1.2;
}
.nav ul li a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
}
.linebreak{
    text-align: center;
}
.hbreak{
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: italic;
  font-size:50px;
  text-shadow: 0 5px 5px black;
}
.breakbody{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
}
.c1{
    border: solid black 1px;
    height: fit-content;
    margin:10px 10px;
    border-radius: 10px;
    background-color: #fdf8f3;
}
.p2{
    background-image: url(desertp1/كيك/كيك\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p3{
    background-image: url(desertp1/كيك/كيك\ فانيليا.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p4{
    background-image: url(desertp1/كيك/كيك\ ريد\ فيلفيت.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p6{
    background-image: url(desertp1/كيك/كيك\ بلاك\ فورست.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p7{
    background-image: url(desertp1/كيك/كيك\ سان\ سيباستيان.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p8{
    background-image: url(desertp1/كيك/كيك\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p9{
    background-image: url(desertp1/كيك/كيك\ اوريو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p10{
    background-image: url(desertp1/كيك/كيك\ كيندر.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p11{
    background-image: url(desertp1/كيك/كيك\ فستق.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p12{
    background-image: url(desertp1/كيك/كيك\ كراميل.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p13{
    background-image: url(desertp1/كيك/كيك\ مانجو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p14{
    background-image: url(desertp1/كيك/كيك\ فراوله.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p15{
    background-image: url(desertp1/كيك/كيك\ توت.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p16{
    background-image: url(desertp1/كيك/كيك\ موكا.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p17{
    background-image: url(desertp1/كيك/كيك\ جزر.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p18{
    background-image:url(desertp/تشيز/تشيز\ كيك\ كلاسيك.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p19{
    background-image:url(desertp/تشيز/تشيز\ كيك\ لوتس.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p20{
    background-image:url(desertp/تشيز/تشيز\ كيك\ اوريو.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p21{
    background-image:url(desertp/تشيز/تشيز\ كيك\ فراوله.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p22{
    background-image:url(desertp/تشيز/تشيز\ كيك\ مانجو.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p23{
    background-image:url(desertp/تشيز/تشيز\ كيك\ بلو\ بيرى.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p24{
    background-image:url(desertp/تشيز/تشيز\ كيك\ شكولاته.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p25{
    background-image:url(desertp/تشيز/تشيز\ كيك\ كيندر.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p26{
    background-image: url(desertp/تشيز/تشيز\ كيك\ فستق.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p27{
    background-image: url(desertp/تشيز/تشيز\ كيك\ نوتيلا.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p28{
    background-image: url(desertp/تشيز/تشيز\ كيك\ كراميل.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p29{
    background-image: url(desertp/تشيز/تشيز\ كيك\ ليمون.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p30{
    background-image: url(desertp1/شوكو/براونيز.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width:160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p31{
    background-image: url(desertp1/شوكو/لافا\ كيك.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p32{
    background-image: url(desertp1/شوكو/مولتن\ كيك.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p33{
    background-image: url(desertp1/شوكو/سوفليه.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p34{
    background-image: url(desertp1/شوكو/شكولاته\ موس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p35{
    background-image: url(desertp1/شوكو/فادج\ كيك.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p36{
    background-image: url(desertp1/شوكو/براونيز\ ايس\ كريم.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p37{
    background-image: url(desertp1/شوكو/ترافل\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p38{
    background-image: url(desertp1/شوكو/كوب\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p39{
    background-image: url(desertp1/شوكو/مينى\ براونيز.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p40{
    background-image: url(desertp1/شوكو/تشوكو\ رول.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p41{
    background-image: url(desertp1/شوكو/شكولاته\ فوندو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p42{
    background-image: url(desertp1/وافل/وافل\ نوتيلا.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p43{
    background-image: url(desertp1/وافل/وافل\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p44{
    background-image: url(desertp1/وافل/وافل\ اوريو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p45{
    background-image: url(desertp1/وافل/وافل\ كيندر.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p46{
    background-image: url(desertp1/وافل/وافل\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p47{
    background-image: url(desertp1/وافل/وافل\ وايت\ شوكلت.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p48{
    background-image: url(desertp1/وافل/وافل\ موز.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p49{
    background-image: url(desertp1/وافل/وافل\ فراوله.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p50{
    background-image: url(desertp1/وافل/وافل\ ميكس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p51{
    background-image: url(desertp1/وافل/وافل\ فواكه.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p52{
    background-image: url(desertp1/وافل/وافل\ ايس\ كريم.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p53{
    background-image: url(desertp1/وافل/وافل\ سبيشيال.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p54{
    background-image: url(desertp/بان/بان\ كيك\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p55{
    background-image: url(desertp/بان/بان\ كيك\ اوريو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p56{
    background-image: url(desertp/بان/بان\ كيك\ كيندر.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p57{
    background-image: url(desertp/بان/بان\ كيك\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p58{
    background-image: url(desertp/بان/بان\ كيك\ موز.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p59{
    background-image: url(desertp/بان/بان\ كيك\ فراوله.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p60{
    background-image: url(desertp/بان/بان\ كيك\ عسل.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p61{
    background-image: url(desertp/بان/بان\ كيك\ كراميل.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p62{
    background-image: url(desertp/بان/بان\ كيك\ فواكه.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p63{
    background-image: url(desertp/بان/بان\ كيك\ ايس\ كريم.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p64{
    background-image: url(desertp/بان/بان\ كيك\ سبيشيال.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p65{
    background-image: url(desertp1/كريب/كريب\ نوتيلا.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p66{
    background-image: url(desertp1/كريب/كريب\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p67{
    background-image: url(desertp1/كريب/كريب\ اوريو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p68{
    background-image: url(desertp1/كريب/كريب\ كيندر.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p69{
    background-image: url(desertp1/كريب/كريب\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p70{
    background-image: url(desertp1/كريب/كريب\ موز.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p71{
    background-image: url(desertp1/كريب/كريب\ فراوله.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p72{
    background-image: url(desertp1/كريب/كريب\ ميكس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p73{
    background-image: url(desertp1/كريب/كريب\ فواكه.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p74{
    background-image: url(desertp1/كريب/كريب\ مارشميلو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p75{
    background-image: url(desertp1/كريب/كريب\ سبيشيال.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p76{
    background-image: url(desertp/ايس/ايس\ فانيليا.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p77{
    background-image: url(desertp/ايس/ايس\ صنداى\ شوكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width:160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p78{
    background-image: url(desertp/ايس/ايس\ فراوله.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p79{
    background-image: url(desertp/ايس/ايس\ مانجه.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p80{
    background-image: url(desertp/ايس/ايس\ توت\ احمر.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p81{
    background-image: url(desertp/ايس/ايس\ توت\ ازرق.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p82{
    background-image: url(desertp/ايس/ايس\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p83{
    background-image: url(desertp/ايس/ايس\ اوريو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p84{
    background-image: url(desertp/ايس/ايس\ كيندر.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p85{
    background-image: url(desertp/ايس/ايس\ فستق.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p86{
    background-image: url(desertp/ايس/ايس\ كريم\ كراميل.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p87{
    background-image: url(desertp/ايس/ايس\ كريم\ موكا.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p88{
    background-image: url(desertp/ايس/ايس\ صنداى\ شوكولاته.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p89{
    background-image: url(desertp/ايس/ايس\ بانانا\ سبليت.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p90{
    background-image: url(desertp/ايس/ايس\ سبيشيال.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p91{
    background-image: url(desertp/شرقيه/كنافه\ ساده.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p92{
    background-image: url(desertp/شرقيه/كنافه\ بالقشطه.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p93{
    background-image: url(desertp/شرقيه/كنافه\ بالشكولاته.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p94{
    background-image: url(desertp/شرقيه/كنافه\ بالمنجه.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p95{
    background-image: url(desertp/شرقيه/بسبوسه.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p96{
    background-image: url(desertp/شرقيه/بسبوسه\ بالقشطه.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p97{
    background-image: url(desertp/شرقيه/ام\ على.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p98{
    background-image: url(desertp/شرقيه/ارز\ باللبن.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p99{
    background-image: url(desertp/شرقيه/مهلبيه.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p100{
    background-image: url(desertp/شرقيه/بلح\ الشام.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p101{
    background-image: url(desertp/شرقيه/لقمه\ القاضى.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p102{
    background-image: url(desertp/شرقيه/زنود\ الست.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p103{
    background-image: url(desertp/شرقيه/اصابع\ زينب.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p104{
    background-image: url(desertp/شرقيه/حلاوه\ الجبن.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p105{
    background-image: url(desertp/شرقيه/قشطوطه.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p106{
    background-image: url(desertp/شرقيه/جلاش.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p107{
    background-image: url(desertp/شرقيه/جلاش\ بالشكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p108{
    background-image: url(desertp/شرقيه/جلاش\ بالقشطه.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p109{
    background-image: url(desertp/شرقيه/قطايف\ ساده.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p110{
    background-image: url(desertp/شرقيه/قطايف\ بالقشطه.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p111{
    background-image: url(desertp/شرقيه/قطايف\ بالشكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p112{
    background-image: url(desertp/شرقيه/قطايف\ بالمكسرات.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p113{
    background-image: url(desertp1/مخبوزات/دونات\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p114{
    background-image: url(desertp1/مخبوزات/دونات\ سكر.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p115{
    background-image: url(desertp1/مخبوزات/دونات\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p116{
    background-image: url(desertp1/مخبوزات/دونات\ كيندر.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p118{
    background-image: url(desertp1/مخبوزات/كوكيز\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p119{
    background-image: url(desertp1/مخبوزات/كوكيز\ اوريو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p120{
    background-image: url(desertp1/مخبوزات/كوكيز\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p121{
    background-image: url(desertp1/مخبوزات/سينابون.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p122{
    background-image: url(desertp1/مخبوزات/مافن\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p123{
    background-image: url(desertp1/مخبوزات/مافن\ فانيليا.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p124{
    background-image: url(desertp1/مخبوزات/كرواسون\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p125{
    background-image: url(desertp1/مخبوزات/كرواسون\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p126{
    background-image: url(desertp1/مخبوزات/ماكرون.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p127{
    background-image: url(desertp/بودينج/بودينج\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p128{
    background-image: url(desertp/بودينج/بودينج\ فانيليا.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p129{
    background-image: url(desertp/بودينج/بودينج\ كراميل.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p130{
    background-image: url(desertp/بودينج/بودينج\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p131{
    background-image: url(desertp/بودينج/بودينج\ اوريو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p132{
    background-image: url(desertp/بودينج/بودينج\ مانجو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p133{
    background-image: url(desertp/بودينج/بودينج\ فراوله.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p134{
    background-image: url(desertp/بودينج/بودينج\ فستق.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p135{
    background-image: url(desertp1/كب/كب\ كيك\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p136{
    background-image: url(desertp1/كب/كب\ كيك\ فانيليا.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p137{
    background-image: url(desertp1/كب/كب\ كيك\ ريد\ فيفيت.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p138{
    background-image: url(desertp1/كب/كب\ كيك\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p139{
    background-image: url(desertp1/كب/كب\ كيك\ اوريو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p140{
    background-image: url(desertp1/كب/كب\ كيك\ كيندر.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p141{
    background-image: url(desertp1/كب/كب\ كيك\ فستق.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p143{
    background-image: url(desertp/تارت/تارت\ فواكه.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p144{
    background-image: url(desertp/تارت/تارت\ فراوله.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p145{
    background-image: url(desertp/تارت/تارت\ مانجو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p146{
    background-image: url(desertp/تارت/تارت\ ليمون.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p147{
    background-image: url(desertp/تارت/تارت\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p148{
    background-image: url(desertp/تارت/تارت\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p149{
    background-image: url(desertp/تارت/تارت\ اوريو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p150{
    background-image: url(desertp/تارت/تارت\ مكسرات.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p151{
    background-image: url(desertp1/كوب/كوب\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p152{
    background-image: url(desertp1/كوب/كوب\ اوريو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p153{
    background-image: url(desertp1/كوب/كوب\ كيندر.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p154{
    background-image: url(desertp1/كوب/كوب\ ريد\ فيلفيت.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p155{
    background-image: url(desertp1/كوب/كوب\ تشيز\ كيك.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p156{
    background-image: url(desertp1/كوب/كوب\ براونيز.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p158{
    background-image: url(desertp1/كوب/كوب\ تراميسو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p159{
    background-image: url(desertp1/كوب/كوب\ مانجو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p160{
    background-image: url(desertp1/كوب/كوب\ فراوله.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p161{
    background-image: url(desertp1/كوب/كوب\ شكولاته\ بالتوت.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p162{
    background-image: url(desertp1/موتشى/موتشى\ فانيليا.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p163{
    background-image: url(desertp1/موتشى/موتشى\ شكولاته.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p164{
    background-image: url(desertp1/موتشى/موتشى\ مانجو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p165{
    background-image: url(desertp1/موتشى/موتشى\ توت.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p166{
    background-image: url(desertp1/موتشى/موتشى\ باشن\ فروت.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p167{
    background-image: url(desertp1/موتشى/موتشى\ اوريو.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p168{
    background-image: url(desertp1/موتشى/موتشى\ لوتس.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.p169{
    background-image: url(desertp1/موتشى/موتشى\ كراميل.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    background-position: center;
}
.b1,.b2{

    text-align: center;
}
input{
    border-radius: 10px;
    height: 20px;
    width: 50px;
    margin: 10px;
}
button{
    border-radius: 10px;
    height: 25px;
    width: 50px;
    margin: 10px;
    transition: .5s;
    margin-right: 25px;
}
button:hover{
    background-color: black;
    color: white;
    scale: 1.09;
}
form{
    display: flex;
    flex-direction:row-reverse;
    margin-left: auto;
    margin-right:auto ;
}
#breakcard{
    transition: .5s;
}
#breakcard:hover{
    scale: 1.07;
    box-shadow: 0 8px 20px black;
}
.st{
    text-align: center;
    margin-bottom: 5px;
}
@media (max-width:768px){
    .header , #i{
        font-size: 15px;
    }
    #list{
        position: absolute;
        right: 85px;
    }
    #list{
        font-size: 10px;
    }
    .nav ul li a{
        font-size: 15px;
    }
    .nav ul li{
        width: 70px;
        height: fit-content;
    }
    .hbreak{
        font-size: 30px;
    }
    .linebreak{
        font-size: 11px;
    }
}
.footer {
    background-color: #d8b18a;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 30px;
    width: 100vw;
}
.footer ul {
    list-style: none;
    margin: 0;
}
.footer ul li a {
    text-decoration: none;
    color: #4e352d;
}
.footer a:hover {
    color: #be5b40e3;
    padding-left: 10px;
}
.footer div {
    display: flex;
    flex-direction: column;
}
#contact-foot {
    display: flex;
    text-align: center;
}
#contact-foot p {
    display: block;
    margin: 0 0 5px 0;
}
#social-foot {
    display: flex;
    text-align: end;
    text-align: center;
}
#social-foot a {
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}
#social-foot a i {
    font-size: 18px;
    width: 25px;
    text-align: center;
    display: inline-block;
}
